body{
    background-color:#153462;
    font-family: 'Pacifico', cursive;
}
.heading{
    color: #F6F6C9;

} 
.row{
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.timer{
    color: #FCFFE7;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #FCFFE7;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-play, .fa-redo-alt{
    color:#FCFFE7 ;
    border: 2px solid transparent;
     padding: 0.5rem;
    border-radius: 2rem;  
   
     
}
.fa-play:hover, .fa-redo-alt:hover{
    color: #FCFFE7;
    border: 2px solid  #FCFFE7;
    transition: 0.3s ease;
}

.show_message{
    display: block;
    padding: 1rem 0;
    color: #272343;
    background:#FCFFE7;
    border-radius:  0.5rem;
    transition: 0.5s ease ;
}